@using GMS.Mapper
@using GMS.ViewModels
@using GMS_BusinessLogic;
@using GMS_BusinessLogic.Categories
@model AddClientSaleOrderViewModel;

<h4 style=" text-align: center;">Create New Client Order</h4>
<div class="row">
	<div class="col-md-12">
		<form asp-action="add">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group mb-2">
				<select class="form-select" asp-for="ClientId" asp-items="@(new SelectList(MapProfile.dtToClient(Client.getForWeb()),"ClientId","FirstName"))" required></select>
			</div>
			<br />
			<div class="form-group mb-2">
				<select class="form-select" asp-for="ProductId" asp-items="@(new SelectList(MapProfile.dtToProducts(Product.getForWeb("")),"Id","Name"))" required></select>
			</div>






			@*
			<br />
			<div>
			<label>Quantity</label>
			<input type="number" class="form-control" asp-for="Amount" placeholder="Amount" min="0" max="100" />
			</div>
			<br />

			<div>
			<label>Discount</label>
			<input type="number" class="form-control" asp-for="AmountAfterDiscount" placeholder="Discount %" min="0" max="100" />
			</div>
			<br />
			*@
			@* Dynamic Form Inputs *@
			@* https://learn.microsoft.com/en-us/answers/questions/598813/dynamic-generation-of-form-fields-in-razor-pages *@
			<div>
				<button id="addRow" type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add To Cart</button>
				<div id="newRow">
					<input type="hidden" id="total" value="0" />
				</div>
			</div>
			<br />

			<div class="form-group">
				<input type="submit" value="Purchase" class="btn btn-primary" style="width:10%" />
			</div>
		</form>
	</div>
</div>


<select id="imageDropdown" class="form-control">
	<option value="">Select an image...</option>
	@foreach (var image in MapProfile.dtToProducts(Product.getForWeb("")))
	{
		<option value="Wheyprotein.jpg">@image.Name</option>
	}
</select>
<img id="imagePreview" src="" alt="Image preview" style="display: none; width: 300px; height: auto; margin-top: 20px;" />






@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script type="text/javascript">
		$("#addRow").click(function () {
			var rowCount = parseInt($("#total").val());
			rowCount++;
			$("#total").val(rowCount);
			var html = '<br />';
			html += '<div id="inputRow">';
			html += '<input type="number" class="d-inline-flex form-control" style="margin-right:5px;width:20%" name="[' + (rowCount - 1) + '].productId" placeholder="Product Id" required/>';
			html += '<input type="number" class="d-inline-flex form-control" style="margin-right:5px;width:20%"  name="[' + (rowCount - 1) + '].price" placeholder="Price" min="1" required/>';
			html += '<input type="number" class="d-inline-flex form-control" style="margin-right:5px;width:20%"  name="[' + (rowCount - 1) + '].quantity"  placeholder="Quantity" min="1" required/>';
			html += '<input type="number" class="d-inline-flex form-control" style="margin-right:5px;width:20%"  name="[' + (rowCount - 1) + '].discount"  placeholder="Discount" min="1"/>';

			html += '<button id="removeRow" type="button" class="btn btn-danger btn-sm">Delete</button>';
			html += '</div>';

			$('#newRow').append(html);
		});

		$(document).on('click', '#removeRow', function () {
			var rowCount = parseInt($("#total").val());
			rowCount--;
			$("#total").val(rowCount);
			$(this).closest('#inputRow').remove();
		});

		document.getElementById('imageDropdown').addEventListener('change', function () {
			var selectedImage = this.value;
			var imagePreview = document.getElementById('imagePreview');

			if (selectedImage) {
				imagePreview.src = '/images/' + selectedImage;
				imagePreview.style.display = 'block';
			} else {
				imagePreview.src = '';
				imagePreview.style.display = 'none';
			}
		});

	</script>
}